@font-face {
  font-family: 'Carlito';
  src: local("Carlito"), url("../font/carlito/Carlito.woff2") format("woff2"), url("../font/carlito/Carlito.woff") format("woff"), url("../font/carlito/Carlito.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: local("Carlito Italic"), local("Carlito-Italic"), url("../font/carlito/Carlitoitalic.woff2") format("woff2"), url("../font/carlito/Carlitoitalic.woff") format("woff"), url("../font/carlito/Carlitoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Carlito';
  src: local("Carlito Bold"), local("Carlito-Bold"), url("../font/carlito/Carlitobold.woff2") format("woff2"), url("../font/carlito/Carlitobold.woff") format("woff"), url("../font/carlito/Carlitobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: local("Carlito Bold Italic"), local("Carlito-BoldItalic"), url("../font/carlito/Carlitobolditalic.woff2") format("woff2"), url("../font/carlito/Carlitobolditalic.woff") format("woff"), url("../font/carlito/Carlitobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Carlito';
  background-color: #fff;
  font-weight: bold;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title h2 {
  font-size: 33px;
  color: #343434;
}

@media screen and (max-width: 780px) {
  .title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 780px) {
  .title h2 {
    text-align: center;
  }
}

.title h2 span {
  color: #d0d0d0;
  font-weight: normal;
  font-size: 24.5px;
}

h3 {
  font-size: 24.5px;
  color: #343434;
}

h3 span {
  color: #d0d0d0;
  font-weight: normal;
  font-size: 24.5px;
}

.show-more {
  padding-top: 30px;
}

.show-more a {
  color: #506aa1;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.header {
  background: url(../images/bgc-img.png) no-repeat center center;
  background-size: cover;
  height: 558px;
}

@media screen and (max-width: 780px) {
  .header {
    background: url(../images/bgc-img.png) no-repeat 80% 80%;
  }
}

.header .container-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}

@media screen and (max-width: 560px) {
  .header .container-header {
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
  }
}

.header .container-header .mobile-menu-toggle {
  display: none;
}

@media screen and (max-width: 960px) {
  .header .container-header .mobile-menu-toggle {
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 0;
  }
}

@media screen and (max-width: 960px) {
  .header .container-header .menu {
    display: none;
  }
}

.header .container-header .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .container-header .menu ul li {
  padding: 0 15px;
}

.header .container-header .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.header .container-header .menu ul li a:hover {
  color: #ffd800;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header .container-header .menu ul li .more {
  border-bottom: dotted 1px #ffffff;
}

.header .container-header .menu ul li .more:hover {
  border-bottom: dotted 1px #ffd800;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header .container-header .menu.is-open {
  display: block;
  position: absolute;
  width: 100%;
  top: 60px;
}

.header .container-header .menu.is-open .menu-a {
  padding-top: 45px;
}

.header .container-header .menu.is-open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.header .container-header .menu.is-open ul li {
  width: 100%;
  text-align: center;
  padding: 6px 0 6px;
}

.header .container-header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .header .container-header .search {
    padding-left: 15px;
  }
}

.header .container-header .search #search {
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(209, 193, 174, 0.7);
  opacity: 0.7;
  width: 120px;
}

.header .container-header .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .header .container-header .account {
    padding-right: 100px;
  }
}

@media screen and (max-width: 560px) {
  .header .container-header .account {
    display: none;
  }
}

.header .container-header .account.is-open .ul-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header .container-header .account .sign-up {
  padding-right: 38px;
}

@media screen and (max-width: 780px) {
  .header .container-header .account .sign-up {
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .header .container-header .account .sign-up {
    padding-right: 0;
  }
}

.header .container-header .account a {
  text-decoration: none;
  color: #ffffff;
}

.header .container-header .account a:hover {
  color: #ffd800;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header .container-banner {
  padding-top: 150px;
  max-width: 770px;
}

.header .container-banner h1 {
  font-size: 48px;
  color: #ffffff;
}

@media screen and (max-width: 780px) {
  .header .container-banner h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 560px) {
  .header .container-banner h1 {
    font-size: 28px;
  }
}

.header .container-banner .buttons {
  padding-top: 49px;
}

@media screen and (max-width: 560px) {
  .header .container-banner .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
  }
}

.header .container-banner .buttons input {
  background: none;
  border-radius: 4px;
  color: #ffd800;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #ffd800;
  padding: 19px 70px 14px;
}

@media screen and (max-width: 780px) {
  .header .container-banner .buttons input {
    padding: 19px 45px 14px;
  }
}

.header .container-banner .buttons input:hover,
.header .container-banner .buttons input active {
  outline: none;
  cursor: pointer;
  background-color: #ffd800;
  color: #3b3308;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header .container-banner .buttons input:nth-child(2n) {
  margin-left: 20px;
}

@media screen and (max-width: 560px) {
  .header .container-banner .buttons input:nth-child(2n) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.header .container-banner .register-specialist {
  padding-top: 24px;
  color: #f5e4d4;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 560px) {
  .header .container-banner .register-specialist {
    font-size: 12px;
    padding-top: 12px;
  }
}

.header .container-banner .register-specialist a {
  text-decoration: none;
  color: #f5e4d4;
  border-bottom: 1px dotted #f5e4d4;
}

.header .container-banner .register-specialist a:hover {
  color: #ffd800;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

#sign-in-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  color: #807b76;
  font-size: 14px;
  margin: 0 auto;
  height: 450px;
  max-width: 540px;
  background-color: #ffffff;
  font-weight: normal;
}

#sign-in-form a {
  text-decoration: none;
  color: #506aa1;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.13);
  font-size: 14px;
}

#sign-in-form .title {
  padding-top: 55px;
  font-weight: bold;
}

#sign-in-form .login-with {
  padding-top: 20px;
  font-weight: normal;
}

#sign-in-form .inputs {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sign-in-form .inputs input {
  background: none;
  border: 1px solid rgba(209, 193, 174, 0.7);
  border-radius: 4px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 40px;
  color: #807b76;
  font-size: 16px;
  max-width: 376px;
  height: 47px;
}

#sign-in-form .inputs .password {
  margin-top: 17px;
  background: url("../images/password-icon.png") no-repeat 95% 50%;
}

#sign-in-form .inputs .email {
  background: url("../images/email-icon.png") no-repeat 95% 50%;
}

#sign-in-form #go-in {
  margin-top: 30px;
  padding-top: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #343434;
  font-weight: bold;
  width: 270px;
  height: 48px;
  background-color: #ffd800;
  cursor: pointer;
}

#sign-in-form .no-account {
  padding-top: 30px;
}

.mfp-close {
  position: absolute;
  font-size: 32px;
}

.pets {
  padding-top: 72px;
}

.pets .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .pets .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.pets .container .title .place-an-ad {
  position: relative;
}

.pets .container .title .place-an-ad a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px dotted #506aa1;
  font-size: 16px;
}

.pets .container .title .place-an-ad a:before {
  content: '';
  background: url(../images/place-an-ad.png), no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 17px;
  height: 100%;
  left: -20px;
}

.pets .container .containerPets {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 1200px) {
  .pets .container .containerPets {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .pets .container .containerPets {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.pets .container .containerPets .containerPetsBlock {
  padding-top: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(20% - 30px);
}

@media screen and (max-width: 1200px) {
  .pets .container .containerPets .containerPetsBlock {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .pets .container .containerPets .containerPetsBlock {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .pets .container .containerPets .containerPetsBlock {
    width: calc(100% - 30px);
  }
}

.pets .container .containerPets .containerPetsBlock__price {
  position: absolute;
  top: 40px;
  left: 10px;
  color: #ffffff;
}

.pets .container .containerPets .containerPetsBlock__price:hover {
  background-color: #ffd800;
  border-radius: 7px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.pets .container .containerPets .containerPetsBlock__breed {
  font-size: 14.5px;
  color: #a0664f;
  text-transform: uppercase;
  padding-top: 10px;
}

.pets .container .containerPets .containerPetsBlock__breed-cat {
  color: #a04f76;
}

.pets .container .containerPets .containerPetsBlock__selling {
  font-size: 22.5px;
  color: #343434;
  padding-top: 10px;
}

.pets .container .containerPets .containerPetsBlock__sex-birth {
  font-size: 14.5px;
  color: #807b76;
  font-weight: normal;
}

.pets .container .buttons {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .pets .container .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.pets .container .buttons button {
  width: 580px;
  height: 44px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ffd800;
  color: #343434;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .pets .container .buttons button {
    width: 100%;
  }
}

.pets .container .buttons button img {
  padding-right: 5px;
}

.pets-on-binding {
  padding-top: 72px;
}

.pets-on-binding .wrapper {
  border-bottom: 1px solid #eeeeee;
}

.pets-on-binding .content-pets-on-binding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .pets-on-binding .content-pets-on-binding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.pets-on-binding .content-pets-on-binding .containerPets {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 1100px) {
  .pets-on-binding .content-pets-on-binding .containerPets {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock {
  padding-top: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(31.66667% - 30px);
}

@media screen and (max-width: 1100px) {
  .pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 960px) {
  .pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock {
    width: calc(100% - 30px);
  }
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__price {
  position: absolute;
  top: 40px;
  left: 10px;
  color: #ffffff;
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__price:hover {
  background-color: #ffd800;
  border-radius: 7px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__breed {
  font-size: 14.5px;
  color: #a0664f;
  text-transform: uppercase;
  padding-top: 10px;
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__breed-cat {
  color: #a04f76;
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__selling {
  font-size: 22.5px;
  color: #343434;
  padding-top: 10px;
}

.pets-on-binding .content-pets-on-binding .containerPets .containerPetsBlock__sex-birth {
  font-size: 14.5px;
  color: #807b76;
  font-weight: normal;
}

.pets-on-binding .content-pets-on-binding .banner-pets-on-binding {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pets-on-binding .content-pets-on-binding .banner-pets-on-binding img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.pets-on-binding .show-more {
  padding-bottom: 75px;
}

@media screen and (max-width: 1100px) {
  .pets-on-binding .show-more {
    padding-top: 20px;
  }
}

@media screen and (max-width: 960px) {
  .pets-on-binding .show-more {
    text-align: center;
  }
}

.my-joy {
  padding-top: 72px;
  padding-bottom: 67px;
}

.my-joy .title:nth-child(2n) {
  padding-right: 148px;
}

.my-joy .content-my-joy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .my-joy .content-my-joy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.my-joy .content-my-joy .myJoyNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 780px;
}

@media screen and (max-width: 780px) {
  .my-joy .content-my-joy .myJoyNews__img {
    display: none;
  }
}

.my-joy .content-my-joy .myJoyNewsFlex__title {
  font-size: 33px;
  color: #343434;
}

@media screen and (max-width: 780px) {
  .my-joy .content-my-joy .myJoyNewsFlex__title {
    font-size: 24px;
  }
}

.my-joy .content-my-joy .myJoyNewsFlex__description {
  padding-top: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #807b76;
  max-width: 484px;
}

.my-joy .content-my-joy .myJoyNewsFlex__description .read-more {
  color: #506aa1;
  font-size: 14px;
  cursor: pointer;
}

.my-joy .content-my-joy .myJoyNewsFlexUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.my-joy .content-my-joy .myJoyNewsFlexUserInformation {
  padding-left: 12px;
}

.my-joy .content-my-joy .myJoyNewsFlexUserInformation__name {
  font-size: 14.5px;
  color: #343434;
}

.my-joy .content-my-joy .myJoyNewsFlexUserInformation__date {
  font-size: 14px;
  color: #807b76;
}

.my-joy .content-my-joy .myJoyNewsFlexUser__like {
  padding-left: 24px;
  color: #807b76;
  font-size: 14px;
}

.my-joy .content-my-joy .popular-stories {
  padding-left: 50px;
}

@media screen and (max-width: 960px) {
  .my-joy .content-my-joy .popular-stories {
    padding-left: 0;
    padding-top: 30px;
  }
}

.my-joy .content-my-joy .popular-stories .myJoyNewsFlex__title {
  font-size: 20.5px;
}

.my-joy .content-my-joy .popular-stories .myJoyNewsFlexUser {
  padding-top: 13px;
  padding-bottom: 30px;
}

.best-specialist {
  background-color: #fffce9;
  padding-bottom: 80px;
}

.best-specialist .title-with-button {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .best-specialist .title-with-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .best-specialist .title-with-button .title h2 {
    text-align: center;
  }
}

.best-specialist .title-with-button .title .profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

@media screen and (max-width: 960px) {
  .best-specialist .title-with-button .title .profession {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.best-specialist .title-with-button .title .profession li {
  padding-right: 20px;
  padding-top: 15px;
}

.best-specialist .title-with-button .title .profession li a {
  color: #506aa1;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.best-specialist .title-with-button .join {
  background: none;
  border-radius: 4px;
  color: #343434;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #ffd800;
  height: 44px;
  width: 228px;
}

@media screen and (max-width: 1100px) {
  .best-specialist .title-with-button .join {
    margin-top: 20px;
    width: 100%;
  }
}

.best-specialist .title-with-button .join:hover,
.best-specialist .title-with-button .join active {
  outline: none;
  cursor: pointer;
  background-color: #ffd800;
  color: #3b3308;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.best-specialist .specialists {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.best-specialist .specialistsBlock {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

@media screen and (max-width: 1100px) {
  .best-specialist .specialistsBlock {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .best-specialist .specialistsBlock {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .best-specialist .specialistsBlock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.best-specialist .specialistsBlockDescription {
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 560px) {
  .best-specialist .specialistsBlockDescription {
    padding-left: 2px;
  }
}

.best-specialist .specialistsBlockDescription__qualification {
  color: #807b76;
  font-size: 14.5px;
  text-transform: uppercase;
}

.best-specialist .specialistsBlockDescription__qualification p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.best-specialist .specialistsBlockDescription__qualification p img {
  padding-left: 10px;
}

.best-specialist .specialistsBlockDescription__qualification p .quantity {
  color: #343434;
  padding-left: 3px;
  font-weight: normal;
}

.best-specialist .specialistsBlockDescription__qualification p .number {
  font-weight: normal;
  padding-left: 2px;
}

.best-specialist .specialistsBlockDescription__name {
  font-size: 22.5px;
  color: #343434;
  padding-top: 10px;
}

.best-specialist .specialistsBlockDescription__merits {
  font-size: 14px;
  line-height: normal;
  color: #807b76;
  min-width: 207px;
  padding-top: 8px;
  font-weight: normal;
}

.in-good-hands {
  padding-top: 70px;
}

.in-good-hands .wrapper {
  border-bottom: 1px solid #eeeeee;
}

.in-good-hands .wrapper .title {
  padding-bottom: 30px;
}

.in-good-hands .wrapper .containerPets {
  padding-top: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 1100px) {
  .in-good-hands .wrapper .containerPets {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.in-good-hands .wrapper .containerPets .containerPetsBlock {
  padding-top: 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(20% - 30px);
}

@media screen and (max-width: 1200px) {
  .in-good-hands .wrapper .containerPets .containerPetsBlock {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .in-good-hands .wrapper .containerPets .containerPetsBlock {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .in-good-hands .wrapper .containerPets .containerPetsBlock {
    width: calc(100% - 30px);
  }
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__add {
  background-color: #f4f5f7;
  border-radius: 3px;
  padding-top: 0;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__will-give {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #ffffff;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__will-give:hover {
  background-color: #ffd800;
  border-radius: 7px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__breed {
  font-size: 14.5px;
  color: #a0664f;
  text-transform: uppercase;
  padding-top: 10px;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__breed-cat {
  color: #a04f76;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__selling {
  font-size: 22.5px;
  color: #343434;
  padding-top: 10px;
}

.in-good-hands .wrapper .containerPets .containerPetsBlock__sex-birth {
  font-size: 14.5px;
  color: #807b76;
  font-weight: normal;
}

.in-good-hands .wrapper .containerPets .place-an-ad {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
  background-color: #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  min-height: 218px;
}

.in-good-hands .wrapper .containerPets .place-an-ad a {
  text-decoration: none;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #506aa1;
}

.in-good-hands .wrapper .containerPets .place-an-ad a img {
  padding-bottom: 20px;
}

.in-good-hands .wrapper .containerPets .place-an-ad a p {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.13);
}

.in-good-hands .show-more {
  padding-bottom: 69px;
}

.news {
  padding-top: 70px;
}

.news .content-my-joy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .news .content-my-joy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .news .content-my-joy .title {
    text-align: center;
  }
}

.news .content-my-joy .myJoyNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 780px;
}

@media screen and (max-width: 1100px) {
  .news .content-my-joy .myJoyNews {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .news .content-my-joy .myJoyNews {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 560px) {
  .news .content-my-joy .myJoyNews__img {
    display: none;
  }
}

.news .content-my-joy .myJoyNewsFlex__title {
  font-size: 24.5px;
  color: #343434;
  max-width: 430px;
}

@media screen and (max-width: 780px) {
  .news .content-my-joy .myJoyNewsFlex__title {
    font-size: 24px;
  }
}

.news .content-my-joy .myJoyNewsFlex__description {
  padding-top: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #807b76;
  max-width: 484px;
}

.news .content-my-joy .myJoyNewsFlex__description .read-more {
  color: #506aa1;
  font-size: 14px;
  cursor: pointer;
}

.news .content-my-joy .myJoyNewsFlexUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.news .content-my-joy .myJoyNewsFlexUserInformation__date {
  font-size: 14px;
  color: #807b76;
}

.news .content-my-joy .myJoyNewsFlexUser__like {
  padding-left: 24px;
  color: #807b76;
  font-size: 14px;
}

.news .content-my-joy .banner-news {
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.news .content-my-joy .banner-news img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.clubs-and-shelters {
  padding-top: 65px;
}

.clubs-and-shelters .wrapper {
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 1100px) {
  .clubs-and-shelters .title {
    text-align: center;
  }
}

.clubs-and-shelters .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .clubs-and-shelters .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.clubs-and-shelters .container .shelter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 15px;
  width: 830px;
}

@media screen and (max-width: 1100px) {
  .clubs-and-shelters .container .shelter {
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .clubs-and-shelters .container .shelter {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .clubs-and-shelters .container .shelter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.clubs-and-shelters .container .shelterBlock {
  -ms-flex-preferred-size: 235px;
  flex-basis: 235px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clubs-and-shelters .container .shelterBlockDescription {
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.clubs-and-shelters .container .shelterBlockDescription__qualification {
  color: #807b76;
  font-size: 14.5px;
  text-transform: uppercase;
}

.clubs-and-shelters .container .shelterBlockDescription__qualification p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clubs-and-shelters .container .shelterBlockDescription__qualification p img {
  padding-left: 10px;
}

.clubs-and-shelters .container .shelterBlockDescription__qualification p .quantity {
  color: #343434;
  padding-left: 3px;
  font-weight: normal;
}

.clubs-and-shelters .container .shelterBlockDescription__qualification p .number {
  font-weight: normal;
  padding-left: 2px;
}

.clubs-and-shelters .container .shelterBlockDescription__name {
  font-size: 22.5px;
  color: #343434;
  padding-top: 10px;
}

.clubs-and-shelters .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 35px;
}

@media screen and (max-width: 1100px) {
  .clubs-and-shelters .buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.clubs-and-shelters .buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  width: 280px;
  height: 56px;
  background-color: #f4f5f7;
  border: none;
  outline: none;
  color: #506aa1;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .clubs-and-shelters .buttons a {
    width: 100%;
  }
}

.clubs-and-shelters .buttons #register-shelter {
  margin-top: 20px;
}

.clubs-and-shelters .show-more {
  padding-bottom: 69px;
}

.footer {
  padding-top: 33px;
  padding-bottom: 39px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .footer .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .footer .container .one-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer .container .one-block.logo {
  width: 130px;
}

.footer .container .one-block .menu {
  padding-left: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 69px;
  width: 711px;
}

@media screen and (max-width: 780px) {
  .footer .container .one-block .menu {
    padding-left: 0;
    width: 560px;
  }
}

@media screen and (max-width: 560px) {
  .footer .container .one-block .menu {
    height: 100%;
    width: 100%;
  }
}

.footer .container .one-block .menu li {
  padding-top: 15px;
}

@media screen and (max-width: 780px) {
  .footer .container .one-block .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer .container .one-block .menu li a {
  text-decoration: none;
  color: #343434;
  font-size: 16px;
}

.footer .container .one-block .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
}

@media screen and (max-width: 1200px) {
  .footer .container .one-block .social-network {
    padding: 15px 0;
  }
}

.footer .container .one-block .social-network li {
  padding: 0 10px;
}

.footer .container .one-block .copyright {
  font-size: 14px;
  color: rgba(52, 52, 52, 0.5);
  font-weight: normal;
}

.footer .container .one-block .another-menu {
  padding-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .footer .container .one-block .another-menu {
    padding: 15px 0;
  }
}

.footer .container .one-block .another-menu li {
  padding: 0 7px;
}

.footer .container .one-block .another-menu li a {
  text-decoration: none;
  color: #343434;
  font-size: 14px;
}

.footer .container .one-block .yod {
  font-size: 14px;
  color: rgba(52, 52, 52, 0.5);
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .footer .container .one-block.order {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 15px;
  }
}

.footer .container .one-block.righted {
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .footer .container .one-block.righted {
    margin-left: 0;
  }
}

/*# sourceMappingURL=maps/style.css.map */
