#add-services {
  margin-top: 48px;
  margin-bottom: 110px;
  .container-add-services {
    h1 {
      line-height: 32px;
      font-size: 24px;
      color: $black-font;
      margin-left: 15px;

      @include lg(margin-left, 0);
      @include xs(text-align, center);
    }
    .two-blocks-add {
      padding-top: 13px;
      display: flex;
      justify-content: space-between;

      @include lg-block() {
        flex-direction: column;
        align-items: center;
      }
      > div {
        margin: 0 15px;
      }
      .title-block {
        font-size: 16px;
        color: $black-font;
      }
      .first-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-shrink: 1;
        .styles-input, textarea {
          margin-top: 16px;
        }
        .select-services-block {
          display: flex;
          justify-content: space-between;
          padding-top: 18px;

          @include xs-block() {
            flex-direction: column;
          }
          select {
            width: 330px;
            border: 1px solid $white-bg;
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 55px;
            color: $black-60;
            font-weight: normal;
            font-size: 13px;
            height: 40px;
            background: url("../images/select-icon.png") no-repeat 95% 50%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            @include lg-block() {
              width:48%;
            }
            @include xs-block() {
              width: 100%;
            }

          }
          #type-of-service {
            margin-left: 10px;

            @include xs-block() {
              margin-left: 0;
              margin-top: 16px;
            }
          }
        }
        p {
          line-height: 16px;
          padding-top: 7px;
          font-size: 12px;
          color: $black-60;
          font-weight: normal;
        }
        #description-service {
          height: 88px;
        }
        .teg-block {
          height: 40px;
          border: 1px solid $white-bg;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 4px;
          margin-top: 16px;
          .teg {
            height: 25px;
            font-weight: normal;
            background-color: $white-bg;
            color: $dull-blue;
            font-size: 14px;
            margin-left: 8px;
            opacity: .8;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            border-radius: 4px;
            a {
              display: flex;
              align-items: center;
              text-decoration: none;
            }
          }
        }
        .input-price {
          width: 169px;
        }
        .additional-service {
          padding-top: 40px;
          ul {
            li {
              height: 96px;
              display: flex;
              align-items: center;
              background-color: $yellow-two;
              margin-top: 16px;
              border-radius: 4px;
              padding-left: 24px;
              padding-right: 30px;
              position: relative;
              justify-content: space-between;
              position: relative;

              @include xs-block() {
                padding-left:0;
              }
              .block {
                display: flex;
                flex-direction: column;
                padding-left: 45px;
                p {
                  @include xs-block() {
                    width: 170px;
                  }
                }
              }
              .price {
                color: $dull-blue;
                width: 40px;
              }
              .styles-checkbox + label:before {
                background-color: $white;
                border: 1px solid #c4c4c4;
                position: absolute;
                top: 41px;
                left: 35px;

                @include xs(left, 13px);
              }
              .styles-checkbox:checked + label:before {
                background-color: $sunflower-yellow;
              }
            }
          }
        }
        .button-with-text {
          display: flex;
          padding-top: 32px;
          align-items: center;

          @include xs-block() {
            flex-direction: column;
            align-items: center;
          }
          .send-for-moderation {
            width: 222px;
            height: 40px;
            font-size: 14px;
            color: $black-80;
            background-color: $yellow-three;
            border-radius: 4px;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: bold;
          }
          .the-cost {
            padding-left: 24px;
            width: 279px;
            font-size: 12px;
            color: $black-60;
            line-height: 16px;
            font-weight: normal;

            @include xs-block() {
              margin-top: 10px;
              text-align: center;
            }
            .count-the-cost {
              color: $black;
              font-weight: bold;
            }
          }
        }
      }
      .second-block {
        width: 100%;
        flex-shrink: 1;

        @include lg(margin-top, 20px);
        .loading-photo-block {
          margin-top: 16px;
          width: 100%;
          height: 296px;
        }
        p {
          line-height: 19px;
          font-size: 14px;
          color: $black-60;
          font-weight: normal;
          padding-top: 11px;
        }
        .account-features {
          border: 12px solid $yellow-two;
          padding: 46px 36px 28px 46px;
          margin-top: 92px;
          height: auto;
          box-sizing: border-box;

          @include lg(margin-top, 20px);
          .title {
            line-height: 32px;
            font-size: 24px;
            color: $black-font;
          }
          .features {
            padding-top: 22px;
            font-size: 14px;
            color: $black-60;
            line-height: 24px;
            font-weight: normal;
          }
          .price {
            padding-top: 16px;
            font-size: 14px;
            color: $black-60;
            line-height: 24px;
            font-weight: normal;
            .count-price {
              color: $dull-blue;
              font-size: 16px;
              font-weight: bold;
            }
          }
          .activated-pro {
            margin-top: 16px;
            background-color: $white-bg;
            width: 220px;
            height: 40px;
            line-height: 20px;
            font-size: 14px;
            color: $black-80;
            border-radius: 4px;
            border: none;
            outline: none;
            cursor: pointer;

            @include xs(width, 165px);
          }
        }
      }
    }
  }
}