#add-services {
  margin-top: 48px;
  margin-bottom: 110px;

  .second-block-add {
    @include lg-block() {
      display: none;
    }
    &.lg-show {
      display: none;
      @include lg-block() {
        display: block;
        max-width: 100% ;
      }
    }
  }
}