#banner-ch {
  padding-top: 65px;
  font-weight: normal;
  color: $black-font;
  .content-banner {
    display: flex;
    background: url("../images/img/image-bg.svg") no-repeat 100%;
    height: 264px;
    position: relative;

    @include md-block() {
      flex-direction: column;
      background: none;
      height: auto;
    }
    .d-flex {

      @include md-block() {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .winner {
        padding-top: 65px;

        @include md-block() {
          align-self: flex-start;
        }
        .new-winner {
          font-size: 14px;
          img {
            padding-right: 5px;
          }
        }
        .block-winner {
          position: relative;
          padding-top: 15px;
          .user-winner {
            position: absolute;
            top: 50px;
            left: 20px;
            width: 258px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .block-description {
              .name-user {
                font-size: 18px;
                .specification {
                  margin-left: 5px;
                  padding: 2px 10px;
                  border: 1px solid $sunflower-yellow;
                  border-radius: 9px;
                  font-size: 14px;
                  color: $black-two-50;
                }
              }
              .competition-winner {
                padding-top: 7px;
                font-size: 14px;
                color: $black-two-50;
                .name-competition-winner {
                  text-decoration: none;
                  color: $black-font;
                  font-size: 16px;
                  font-weight: bold;
                  border-bottom: 1px solid $black-font;
                }
              }
            }
          }
          .count-applause-block {
            position: absolute;
            top: 113px;
            left: 60px;
            .oval {
              position: absolute;
            }
            .applause {
              position: absolute;
              top: -8px;
              left: -17px;
            }
            .count-applause {
              position: absolute;
              left: 50px;
              top: 14px;
              color: $black-two-50;
              font-size: 14px;
            }
          }
        }
      }
    }
    .title-banner {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      padding-top: 63px;
      position: absolute;
      width: 100%;
      @include md-block() {
        order: -1;
        padding: 0;
        position: inherit;
      }
      @include xs(font-size, 28px);
      span {
        font-weight: normal;
        line-height: 45px;
      }
    }
  }
}
