.page-create-competition,
.page-create-exhibition {
  .container-step-one,
  .container-step-two,
  .container-step-three,
  .container-create-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 93px;
    .title-create-competition,
    .title-create-exhibition {
      text-align: center;
      padding-top: 36px;
      color: $black-font;
      font-size: 16px;
      font-weight: normal;
      span {
        font-weight: normal;
        font-size: 16px;
        padding-left: 17px;
        color: $black-40;
      }
      img {
        width: 100%;
        height: auto;
      }
      .stages {
        display: flex;
        justify-content: space-around;
        color: $black-40;
        font-size: 14px;
        line-height: 19px;
        li {
          width: 25%;

          @include xs-block() {
            font-size: 10px;
          }
          &.active {
            color: $black-font;
          }
        }
      }
    }
    .container-registration-competition,
    .container-registration-exhibition {
      display: flex;
      justify-content: space-between;
      padding-top: 45px;
      > div {
        margin: 0 15px;
        @include sm-block() {
          margin: 0;
        }
      }
      @include sm-block() {
        flex-direction: column;
        align-items: center;
      }
      &.container-registration-exhibition {
        .block-with-photo {
          width: 370px;
          margin-top: 24px;
          .one-photo {
            border: none;
            width: 85px;
          }
        }
        .loading-video-block {
          margin-top: 32px;
        }
        .more-filter {
          @include xs(padding-top, 32px);
          .cat-or-dog-filter, .yes-or-no {
            li {
              a {
                font-weight: normal;
                &.active-more-filter {
                  background-color: $yellow-three;
                  border: 1px solid $white-bg;
                }
              }
            }
          }
        }
        .title-input-nomination {
          padding-top: 31px !important;
        }
        .loading-document {
          button {
            border: none !important;
            color: $black-80 !important;
          }
        }
        .terms-of-use {
          font-size: 14px;
          color: $black-60;
          padding-top: 32px;
          font-weight: normal;
          a {
            color: $black-60;
            text-decoration: none;
            border-bottom: 1px dotted $black-60;
          }
        }
      }
      .buttons-create-finish {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        > input {
          margin: 0 10px;
        }

        @include xs-block() {
          flex-direction: column;
          align-items: center;
          > input {
            margin: 0;
          }
        }
      }
      .next-step-create,
      .next-personal-account,
      .next-step-create-exhibition,
      .publish-create-exhibition {
        background: none;
        outline: none;
        border: 1px solid $sunflower-yellow;
        border-radius: 4px;
        font-size: 14px;
        color: $black-two-50;
        font-weight: normal;
        width: 170px;
        height: 40px;
        cursor: pointer;
        margin-top: 24px;
        &.next-step-create-exhibition,
        &.publish-create-exhibition,
        &.next-personal-account {
          border: none;
          background-color: $yellow-three;
          color: $black-80;
        }
      }
      .on-page-competition {
        font-size: 14px;
        color: $black-two-50;
        background: none;
        border: none;
        outline: none;
        font-weight: normal;
        height: 40px;
        cursor: pointer;
        margin-top: 24px;
      }
      .information-about-competition,
      .information-about-competition-winner,
      .information-about-exhibition {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 370px;

        @include sm(padding-top, 15px);
        @include xs-block() {
          width: 300px;
        }
        .title-input {
          font-size: 16px;
          color: $black-font;
          padding-top: 20px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          &:first-child {
            padding-top: 0;
          }
          span {
            font-size: 14px;
            color: $black-two-50;
            font-weight: normal;
            a {
              text-decoration: none;
              color: $black-40;
            }
          }
        }
        .company-dop {
          display: flex;
          justify-content: flex-start;
          padding-top: 16px;
          padding-bottom: 8px;
          button {
            background-color: $white-bg-30;
            border-radius: 4px;
            color: $black-80;
            font-size: 14px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            &:nth-child(n + 2) {
              margin-left: 10px;
            }
            img {
              padding-right: 9px;
            }
          }
        }
        .more-filter {
          .cat-or-dog-filter {
            @include md-block() {
              margin-top: 0;
            }
          }
        }
        textarea {
          height: 136px;
          text-align: left;
        }
        .loading-document {
          margin-top: 8px;
          display: flex;

          @include md(width, 330px);
          @include xs(width, 300px);
          .btn-loading-documents,
          .btn-loading-documents-small {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f8f8f8;
            color: $black-two-50;
            border: 1px solid $white-bg;
            width: 220px;
            height: 40px;
            padding: 0 17px;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            position: relative;
            > img {
              opacity: .5;
            }
          }
          .btn-loading-documents-small {
            margin-left: 15px;
            padding: 0;
            display: flex;
            justify-content: center;
            width: 47px;
            height: 40px;
          }
        }
      }

      .information-about-competition-winner {
        width: 780px;
        align-items: center;
        .first-place,
        .second-place,
        .third-place {
          display: flex;
          justify-content: center;
          padding-top: 28px;
          &:first-child {
            padding-top: 0;
          }

          @include md-block() {
            flex-direction: column;
          }
          .first-place-block,
          .second-place-block,
          .third-place-block {
            width: 370px;
            margin: 0 15px;
            @include md-block() {
              &:first-child {
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }
    .block-with-photo {
      display: flex;
      padding-top: 10px;
      .one-photo {
        width: 78px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f8f8;
        border: 1px solid $white-bg;
        border-radius: 8px;
        margin-left: 20px;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        img {
          opacity: .5;
        }
      }
    }
    .create-competition-complete,
    .create-exhibition-complete  {
      padding-top: 108px;
      display: block;
      img {
        width: 100%;
        height: auto;
      }
      .registration-competition-congratulation,
      .registration-exhibition-congratulation {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $black-font;
        font-size: 16px;
        padding-top: 42px;
        span {
          color: $black-two-50;
          font-size: 14px;
          padding-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}