#exhibition {
  margin-bottom: 135px;
  .container-exhibition {
    .block-place-an-exhibition {
      height: 144px;
      display: flex;
      justify-content: space-between;
      padding: 0 57px;
      align-items: center;
      background-color: $white-four;
      border-radius: 8px;
      margin-top: 55px;

      @include sm-block() {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      p {
        font-size: 24px;
        color: $black-font;
        @include sm(text-align, center);
        @include xs(font-size, 18px);
        span {
          color: $sunflower-yellow;
        }
      }
    }
    .title-exhibition {
      margin-top: 86px;
      font-size: 24px;
      line-height: 32px;
      color: $black-font;
      position: relative;
      display: flex;
      justify-content: space-between;

      @include sm(text-align, center);
      @include xs-block() {
        flex-direction: column;
        align-items: center;
      }
      .date {
        color: $black-40;
        font-size: 14px;
        position: absolute;
        font-weight: normal;
        top: -10px;
        left: 193px;
        @include xs-block() {
          position: inherit;
        }
      }
      .in-month {
        font-weight: bold;
        font-size: 24px;
        color: $black-40;
      }
      .create-exhibition {
        width: 170px;
        height: 36px;
        background-color: $white-bg-40;
        border: none;
        outline: none;
        border-radius: 4px;
        color: $grey-80;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .exhibition-today, .exhibition-rest {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include lg-block() {
        justify-content: space-around;
      }
      .one-exhibition {
        margin-top: 25px;
        text-decoration: none;
        max-width: 370px;
        display: flex;
        flex-direction: column;
        .img-exhibition {
          position: relative;
          color: $white;
          font-size: 14px;
          img {
            width: 100%;
            height: auto;
          }
          .location {
            position: absolute;
            top: 20px;
            left: 20px;
          }
          .title-one-exhibition {
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
        }
        .description-one-exhibition {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 16px;
          font-weight: normal;
          .time-location {
            font-size: 14px;
            color: $black-40;
          }
          .state {
            padding: 7px 13px;
            background-color: $yellow-two;
            border-radius: 4px;
            font-size: 12px;
            color: $black-60;
          }
        }
      }
    }
  }
}