#footer {
  padding-bottom: 39px;
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include fix-block {
      justify-content: center;
      flex-direction: column;
    }
    .one-block {
      padding-top: 30px;

      @include fix-block() {
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }

      &.logo {
        width: 126px;
      }
      .menu {
        padding-left: 97px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 69px;
        width: 711px;

        @include sm-block() {
          padding-left: 0;
          width: 560px;
        }
        @include xs-block() {
          height: 100%;
          width: 100%;
        }

        li {
          padding-top: 15px;

          @include sm-block() {
            display: flex;
            justify-content: center;
          }

          a {
            text-decoration: none;
            color: $black;
            font-size: 16px;
          }
        }

      }
      .social-network {
        display: flex;
        padding-left: 80px;

        @include fix-block() {
          padding: 15px 0;
        }

        li {
          padding: 0 10px;
        }
      }
      .copyright {
        font-size: 14px;
        color: $black-two-50;
        font-weight: normal;
      }
      .another-menu {
        padding-left: 90px;
        display: flex;
        flex-direction: row;

        @include fix-block {
          padding: 15px 0;
        }

        li {
          padding: 0 7px;
          a {
            text-decoration: none;
            color: $black;
            font-size: 14px;
          }
        }
      }
      .yod {
        font-size: 14px;
        color: $black-two-50;
        font-weight: normal;
      }
      &.order {

        @include fix-block() {
          order: 1;
          padding-top: 15px;
        }

      }
      &.righted {
        margin-left: auto;

        @include fix-block() {
          margin-left: 0;
        }

      }
    }
  }
}