body {
  font-family: 'Carlito';
  background-color: #fff;
  font-weight: bold;
}

.wrapper {
  @include wrapper();
}
.wrapper-small {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
//INPUTS

input::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus::-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-ms-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

#search-services:focus::-webkit-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

#search-services:focus::-moz-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

#search-services:focus:-moz-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

#search-services:focus:-ms-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

.headlines:focus::-webkit-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

.headlines:focus::-moz-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

.headlines:focus:-moz-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

.headlines:focus:-ms-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.4s ease;
}

//END INPUTS

.title {
  h2 {
    font-size: 24px;
    color: $black-font;

    @include sm(text-align, center);

    span {
      color: $pinkish-grey;
      font-weight: normal;
      font-size: 24.5px;
    }
  }
}

h3 {
  font-size: 24.5px;
  color: $black;
  span {
    color: $pinkish-grey;
    font-weight: normal;
    font-size: 24.5px;
  }
}

//BTN SHOW MORE

.show-more {
  margin-top: 64px;
  text-align: center;
  background-color: $white-bg;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $black-80;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      opacity: .4;
      transition: all .3s;
    }
  }
}

//END BTN SHOW MORE

//BTN READ MORE

.read-more {
  color: $dull-blue;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}

//END BTN READ MORE

//CREATE COMPETITION

#create-competition, #create-exhibition {
  background-color: $white-bg;
  color: $black-two-50;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 13px 27px;
  border-radius: 4px;
  font-weight: normal;
  border: none;
  outline: none;

  @include md(margin-top, 15px);
}

.name-competition {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0 !important;
  a {
    text-decoration: none;
    font-size: 16px;
    color: $black-font;
  }
  .state {
    margin-left: 13px;
    padding: 4px 10px;
    font-weight: normal;
    border: 1px solid $sunflower-yellow;
    border-radius: 9px;
    font-size: 14px;
    color: $black-two-50;
    &.to-press-left {
      margin-right: auto;
    }
  }
}

//END CREATE COMPETITION

//ACTIVITY COMPETITION

.activity-competition, .activity-entries {
  display: flex;
  justify-content: space-between;
  color: $black-two-50;
  padding-top: 15px;
  font-size: 14px;
  .like {
    display: flex;
    align-items: center;
    img {
      padding-right: 10px;
    }
  }
  .took-part {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-right: auto;

    img {
      padding-right: 10px;
    }
  }
}

//END ACTIVITY COMPETITION

//GRADATION PAGE

.pages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 70px auto;

  .list-pages {
    display: flex;
    li {
      padding: 0 8px;

      &:nth-child(n+4) {
        @include xs-block() {
          display: none;
        }
      }
      &:last-child {
        @include xs-block() {
          display: block;
        }
      }
      a {
        padding: 9px 15px;
        background-color: $white-three;
        text-decoration: none;
        color: $black-two-50;
        font-weight: normal;
        border-radius: 50%;
        &.all-pages {
          padding: 9px 25px;
          border-radius: 20px;
        }
      }
    }
  }
}

//END GRADATION PAGE


//LOADING
.loading {
  margin: 0 auto;
  display: block;
  padding-top: 65px;
  padding-bottom: 72px;
  width: 52px;
  height: 51px;
}
//END LOADING

//SIDEBAR MENU

.sidebar-menu {
  position: fixed;
  left: 37px;
  z-index: 999;

  .notification-bg {
    position: absolute;
    left: 11px;
    bottom: -20px;
  }
  .notification-count {
    color: $white;
    position: absolute;
    bottom: 2px;
    right: 3px;
  }
  #show-sidebar {
    display: none;
  }
  input[type=checkbox]:checked ~ .sidebar {
    opacity: 1;
    visibility: visible;
    transition: all .4s;
  }
  input[type=checkbox]:checked ~ label {
    transform: rotate(45deg);
    transition: all .4s;
  }

  label {
    display: none;
    @include sidebar-block() {
      display: block;
      position: fixed;
      bottom: 10px;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 15px;

    @include sidebar-block() {
      visibility: hidden;
      opacity: 0;
    }
    li {
      position: relative;
      padding-top: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}

//END SIDEBAR MENU

//BTN REGISTER SPECIALIST

.btn-create-organization,
#btn-place-an-exhibition,
.register-specialist,
#register-shelter,
#show-telephone,
#leave-feedback,
#register-club,
#request-call,
#complain,
#add-user,
#apply,
#write {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: $white-four;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: $black-80;
  outline: none;
  &.yellow-theme {
    background-color: $yellow-three;
  }
  img {
    padding-right: 10px;
  }

  @include lg-block() {
    margin: 20px auto 0;
    text-align: center;
  }
  &#btn-place-an-exhibition {
    font-weight: bold;
    color: $black;
    margin: 0;
    @include xs(width, 100%);
  }
}

//END BTN REGISTER SPECIALIST

.bg-ellipse {
  background: url("../images/ellipse.png") no-repeat 100% 0;
}

//STYLIZATION INPUTS

.styles-input, textarea {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  padding-left: 13px;
  font-size: 13px;
  color: $black-two-50;
  height: 40px;
  margin-top: 8px;
  border: 1px solid $white-bg;
  border-radius: 4px;
  font-weight: 400;
  &::-webkit-input-placeholder {
    color: $black-two-50;
  }
  &.add {
    padding-left: 38px;
    font-size: 13px;
    cursor: pointer;
    text-align: left;
    background: url("../images/add-icon.png") no-repeat 5% center;
  }
  &.add-small {
    width: 270px;
  }
  &.create-price-exhibition {
    width: 182px;
  }
  &.create-type-exhibition,
  &.create-federation-exhibition,
  &.create-class-exhibition,
  &.create-breed-exhibition {
    width: 270px;
  }

}
textarea {
  height: 136px;
  text-align: left;
}

//END STYLIZATION INPUTS

//STYLIZATION CHECKBOX

.styles-checkbox {
  display: none;
}
.styles-checkbox + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid $white-bg;
  font-size: 20px;
  line-height: 22px;
  border-radius: 4px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.styles-checkbox:checked + label:before {
  background-color: $sunflower-yellow;
  color: #000;
}
.styles-checkbox:checked + label {
  color: $black-80;
  font-weight: bold;
}

.loading-photo-block, .loading-video-block {
  background-color: #f8f8f8;
  border-radius: 8px;
  width: 370px;
  height: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;

  //@include md(width, 330px);
  @include xs-block() {
    width: 300px;
  }
  img {
    padding-top: 123px;
    opacity: .5;
  }
  a {
    text-decoration: none;
    font-weight: normal;
    color: $black-40;
    padding-top: 4px;
    border-bottom: 1px dotted $black-40;
  }
}

//END STYLIZATION CHECKBOX

//BTN TO BECOME
.to-become {
  display: flex;
  flex-direction: column;

  @include xs-block() {
    width: 60%;
  }
  input {
    padding: 11px 26px;
    color: $black-80;
    background-color: $white-bg;
    font-weight: normal;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  @include xs-block() {
    #to-become-partner {
      margin-top: 12px;
    }
  }
  #to-become-sponsor {
    margin-top: 12px;
  }
}

//END BTN TO BECOME

//HEADER CONTAINER FILTER

.container-services, .container-specialist, .container-organizations {
  padding-top: 48px;
  .title-services-button, .title-specialist-button {
    display: flex;
    justify-content: space-between;

    @include sm-block() {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    h1 {
      line-height: 32px;
      font-size: 24px;
      color: $black-font;
    }
  }
  .search-services, .search-specialist {
    padding-top: 32px;
    input {
      width: 100%;
      height: 40px;
      background: url("../images/vector.png") no-repeat 10px 50%;
      font-size: 14px;
      color: $black-font;
      border: 1px solid $white-bg;
      line-height: 20px;
      outline: none;
      box-sizing: border-box;
      padding-left: 30px;
    }
  }
  .example-services, .example-specialist {
    padding-top: 21px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-weight: normal;
    p {
      padding-right: 8px;
    }
    input {
      padding: 5px 15px;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      margin-right: 8px;
      color: $dull-blue;
      background-color: $white-four;
      border: none;
      outline: none;
      border-radius: 4px;
      margin-top: 5px;
    }
  }
  .filter-services, .filter-specialist, .filter-organizations {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    .one-filter {
      padding-right: 10px;
      margin-top: 5px;
      &:first-child {
        padding-left: 0;
      }
      &.to-pres-right {
        margin-left: auto;

        @include md-block() {
          margin-left: 0;
        }
      }
      button {
        padding: 13px 80px 13px 21px;
        color: $black-80;
        background-color: $white-four;
        font-weight: normal;
        font-size: 14px;
        border: none;
        outline: none;
        position: relative;
        border-radius: 4px;
        img {
          position: absolute;
          right: 22px;
          top: 16.5px;
        }
        &.sorting-by-rating {

          span {
            font-size: 14px;
            color: $black-60;
          }
        }
      }
      .fix-menu {
        display: none;
        width: 264px;
        position: absolute;
      }
      .hide-dropdown {
        height: 136px;
        padding: 32px 0 0 19px;
        width: 264px;
        border: 1px solid $white-bg;
        box-sizing: border-box;
        background: $white;
        position: relative;
        border-radius: 4px;
        top: 10px;
        z-index: 300;
        &:before {
          bottom: 100%;
          left: 15%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        li {
          padding: 5px 0;
          list-style: none;
          label {
            font-size: 14px;
            font-weight: normal;
            color: $black-60;
          }
        }
      }
      .hide-dropdown:before {
        border-bottom-color: $white-bg;
        border-width: 12px;
        margin-left: -20px;
      }
      .btn-filter:hover + .fix-menu {
        display: block;
      }
      .fix-menu:hover {
        display: block;
      }
    }
  }
}

//END HEADER CONTAINER FILTER

//FILTER

.filter {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  @include xs-block() {
    flex-direction: column;
    align-items: center;
  }
  > .competition, .exhibition {
    font-size: 14px;
  }
  .filter-simplified {
    display: flex;

    @include xs-block() {
      padding-top: 15px;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      color: $black-two-50;

      @include xs(margin-top, 10px);
      a {
        text-decoration: none;
        color: $black-two-50;
        font-weight: normal;
        font-size: 14px;
        padding: 0 5px;
        &.active-simplified-filter {
          color: $black-font;
          font-weight: bold;
        }
      }
    }
  }
}
.more-filter {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;

  @include xs(padding-top, 10px);
  label {
    display: none;
    background: none;
    font-size: 14px;
    color: $black-font;
    border: 1px solid $sunflower-yellow;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 15px;
    outline: none;
    @include sm-block() {
      display: block;
    }
  }
  #show-filter {
    display: none;
  }
  input[type=checkbox]:checked ~ .specific-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    li {
      margin: 15px;

      a {
        border: none;
        &.active-more-filter {
          border-radius: inherit;
          background: none;
          border-bottom: 1px solid $sunflower-yellow;
        }
      }
    }
  }
  @include md-block() {
    flex-direction: column;
    align-items: center;
  }
  .specific-filter, .cat-or-dog-filter, .yes-or-no {
    display: flex;
    li {
      a {
        padding: 11px 32px;
        color: $black-two-50;
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
        border: 1px solid $white-bg;
        border-left: none;
        &.first {
          border-radius: 4px 0 0 4px;
          border-left: 1px solid $white-bg;
        }
        &.last {

          border-radius: 0 4px 4px 0;
        }
        &.active-more-filter {
          color: #000000;
          font-weight: bold;
          background-color: $sunflower-yellow;
          border: 1px solid $sunflower-yellow;
        }
      }
    }
  }
  .specific-filter {
    @include sm-block() {
      display: none;
    }
  }
  .cat-or-dog-filter, .yes-or-no {
    margin-left: auto;

    @include md-block() {
      margin-left: 0;
      margin-top: 40px;
    }
    li {
      a {
        &.cat-filter, &.filter-yes{
          border-left: 1px solid $white-bg;
          border-radius: 4px 0 0 4px;
        }
        &.dog-filter, &.filter-no {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  .close-filter {
    margin-left: 18px;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: $black-two-50;
    display: flex;
    align-items: center;

    @include md-block() {
      margin-top: 30px;
    }
    img {
      padding-right: 7px;
    }
  }
}

//END FILTER