body {
  font-family: 'Carlito';
  background-color: #fff;
  font-weight: bold;
}

.wrapper {
  @include wrapper();
}

input::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus::-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-ms-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

.title {
  h2 {
    font-size: 33px;
    color: $black;

    @include sm(font-size, 24px);
    @include sm(text-align, center);

    span {
      color: $pinkish-grey;
      font-weight: normal;
      font-size: 24.5px;
    }
  }
}

h3 {
  font-size: 24.5px;
  color: $black;
  span {
    color: $pinkish-grey;
    font-weight: normal;
    font-size: 24.5px;
  }
}

.show-more {
  padding-top: 30px;
  a {
    color: $dull-blue;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid $dull-blue-two;
    &:hover {
      opacity: .4;
      transition: all .3s;
    }
  }
}

.sidebar-menu {
  position: fixed;
  left: 37px;
  z-index: 999;

  .notification-bg {
    position: absolute;
    left: 11px;
    bottom: -20px;
  }
  .notification-count {
    color: $white;
    position: absolute;
    bottom: 2px;
    right: 3px;
  }
  #show-sidebar {
    display: none;
  }
  input[type=checkbox]:checked ~ .sidebar {
    opacity: 1;
    visibility: visible;
    transition: all .4s;
  }
  input[type=checkbox]:checked ~ label {
    transform: rotate(45deg);
    transition: all .4s;
  }

  label {
    display: none;
    @include sidebar-block() {
      display: block;
      position: fixed;
      bottom: 10px;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;

    @include sidebar-block() {
      visibility: hidden;
      opacity: 0;
    }
    li {
      position: relative;
      padding-top: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}

.bg-ellipse {
  background: url("../images/ellipse.png") no-repeat 100% 0;
}