body {
  font-family: 'Carlito';
  background-color: #fff;
  font-weight: bold;
}

.wrapper {
  @include wrapper();
}

input::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus::-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

input:focus:-ms-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.4s ease;
}

.title {
  h2 {
    font-size: 33px;
    color: $black;

    @include sm(font-size, 24px);
    @include sm(text-align, center);

    span {
      color: $pinkish-grey;
      font-weight: normal;
      font-size: 24.5px;
    }
  }
}

h3 {
  font-size: 24.5px;
  color: $black;
  span {
    color: $pinkish-grey;
    font-weight: normal;
    font-size: 24.5px;
  }
}

.show-more {
  padding-top: 30px;
  a {
    color: $dull-blue;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid $dull-blue-two;
    &:hover {
      opacity: .4;
      transition: all .3s;
    }
  }
}
.read-more {
  color: $dull-blue;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}
#create-competition {
  background-color: $white-bg;
  color: $black-two-50;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 13px 27px;
  border-radius: 4px;
  font-weight: normal;
  border: none;
  outline: none;

  @include md(margin-top, 15px);
}
.name-competition {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0 !important;
  a {
    text-decoration: none;
    font-size: 16px;
    color: $black-font;
  }
  .state {
    margin-left: 13px;
    padding: 4px 10px;
    font-weight: normal;
    border: 1px solid $sunflower-yellow;
    border-radius: 9px;
    font-size: 14px;
    color: $black-two-50;
    &.to-press-left {
      margin-right: auto;
    }
  }
}
.activity-competition, .activity-entries {
  display: flex;
  justify-content: space-between;
  color: $black-two-50;
  padding-top: 15px;
  font-size: 14px;
  .like {
    display: flex;
    align-items: center;
    img {
      padding-right: 10px;
    }
  }
  .took-part {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-right: auto;

    img {
      padding-right: 10px;
    }
  }
}
.loading {
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 72px;
  width: 52px;
  height: 51px;
}
.sidebar-menu {
  position: fixed;
  left: 37px;
  z-index: 999;

  .notification-bg {
    position: absolute;
    left: 11px;
    bottom: -20px;
  }
  .notification-count {
    color: $white;
    position: absolute;
    bottom: 2px;
    right: 3px;
  }
  #show-sidebar {
    display: none;
  }
  input[type=checkbox]:checked ~ .sidebar {
    opacity: 1;
    visibility: visible;
    transition: all .4s;
  }
  input[type=checkbox]:checked ~ label {
    transform: rotate(45deg);
    transition: all .4s;
  }

  label {
    display: none;
    @include sidebar-block() {
      display: block;
      position: fixed;
      bottom: 10px;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;

    @include sidebar-block() {
      visibility: hidden;
      opacity: 0;
    }
    li {
      position: relative;
      padding-top: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}

.bg-ellipse {
  background: url("../images/ellipse.png") no-repeat 100% 0;
}