#header {
  background: url(../images/bgc-img.png) no-repeat center center;
  background-size: cover;
  height: 558px;

  @include sm-block() {
    background: url(../images/bgc-img.png) no-repeat 80% 80%;
  }
  .container-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    @include xs-block() {
      justify-content: space-between;
    }

    .mobile-menu-toggle {
      display: none;

      @include md-block() {
        display: inline-block;
        font-size: 50px;
        text-decoration: none;
        color: $white;

      }

    }
    .menu {

      @include md-block {
        display: none;
      }
      #hider {
        position: absolute;
        top: -9999px;
        left: -9999px;
        &:checked + .content {
          display: block;
        }
      }

      .content {
        position: absolute;
        display: none;
      }
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
          padding: 0 15px;
          a {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            &:hover {
              color: $sunflower-yellow;
              transition: all .4s;
            }
            @include md-block() {
              &:hover {
                color: $white;
              }
            }
          }
          #more {
            color: $white;
            border-bottom: 1px dotted $white;
            cursor: pointer;
            &:hover {
              color: $sunflower-yellow;
              border-bottom: 1px dotted $sunflower-yellow;
              transition: all .4s;
            }
            @include md-block() {
              &:hover {
                color: $white;
              }
            }
          }
          > ul {
            li {
              padding: 5px 0;
            }
          }
        }
      }

      &.is-open {
        display: block;
        position: absolute;
        width: 100%;
        top: 135px;
        margin-left: -30px;
        padding-right: 30px;
        padding-left: 30px;
        background-color: $sunflower-yellow;
        ul li .content {
          display: none;
          position: inherit;
        }

        @include md-block() {
          top: 90px;
        }
        @include sm-block() {
          top: 90px;
          margin-left: -15px;
          padding-right: 15px;
          padding-left: 15px;
        }
        @include xs-block() {
          top: 135px;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;

          li {
            width: 100%;
            text-align: center;
            padding: 6px 0 6px;

          }
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    #search {
      background: none;
      border: none;
      outline: none;
      padding-left: 10px;
      color: white;
      width: 120px;
      &::-webkit-input-placeholder {
        color: $camo-green;
      }
      &::-moz-placeholder {
        color: $camo-green;
      }
      &:-moz-placeholder {
        color: $camo-green;
      }
      &:-ms-input-placeholder {
        color: $camo-green;
      }
    }
  }
  .account {

    @include xs-block() {
      &.is-open-account {
        width: 100%;
        position: absolute;
        top: 86px;
        background-color: $sunflower-yellow;
        margin-left: -15px;
        padding-right: 15px;
        padding-left: 15px;
        .ul-account {
          text-align: center;
          display: flex;
          flex-direction: column;
          li:last-child {
            padding-top: 12px;
            padding-bottom: 6px;
          }
        }
      }
    }
    .ul-account {
      display: flex;
      justify-content: space-between;
      font-size: 16px;

      @include xs-block() {
        display: none;
      }

      .sign-up {
        padding-right: 38px;

        @include sm(padding-right, 15px);
        @include xs(padding-right, 0);
      }
      a {
        text-decoration: none;
        color: $white;
        &:hover {
          color: $sunflower-yellow;
          transition: all .4s;
        }
      }
    }
  }
}

.container-banner {
  padding-top: 150px;
  max-width: 770px;
  h1 {
    font-size: 48px;
    color: $white;

    @include sm-block() {
      font-size: 36px;
    }

    @include xs-block() {
      font-size: 28px;
    }
  }

  .buttons {
    padding-top: 49px;

    @include xs-block() {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }

    #sell-pet, #have-a-pet {
      background: none;
      border-radius: 4px;
      color: $sunflower-yellow;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid $sunflower-yellow;
      padding: 19px 70px 14px;

      @include sm-block() {
        padding: 19px 45px 14px;
      }

      &:nth-child(2n) {
        margin-left: 20px;

        @include xs-block() {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
    #have-a-pet {
      outline: none;
      background-color: $sunflower-yellow;
      color: $navy-green;
    }
  }
  .register-specialist {
    padding-top: 24px;
    color: $beige;
    font-size: 16px;
    font-weight: normal;

    @include xs-block() {
      font-size: 12px;
      padding-top: 12px;
    }

    a {
      text-decoration: none;
      color: $beige;
      border-bottom: 1px dotted $beige;
      &:hover {
        color: $sunflower-yellow;
        transition: all .4s;
      }
    }
  }

}

#sign-in-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  color: $warm-grey;
  font-size: 14px;
  margin: 0 auto;
  height: 450px;
  max-width: 540px;
  background-color: $white;
  font-weight: normal;
  a {
    text-decoration: none;
    color: $dull-blue;
    border-bottom: 1px dotted $dull-blue-two;
    font-size: 14px;
  }
  .title {
    padding-top: 55px;
    font-weight: bold;
    h2 {
      text-align: center;
    }
  }

  .login-with {
    padding-top: 20px;
    font-weight: normal;
  }
  .inputs {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    input {
      background: none;
      border: 1px solid $camo-green;
      border-radius: 4px;
      outline: none;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 55px;
      color: $warm-grey;
      font-size: 16px;
      max-width: 376px;
      height: 47px;

      &:focus,
      active {
        color: $black;
      }
    }
    .password {
      margin-top: 17px;
      background: url("../images/password-icon.png") no-repeat 96% 50%;
    }
    .email {
      background: url("../images/email-icon.png") no-repeat 96% 50%;
    }
  }
  .go-in {
    margin-top: 30px;
    padding-top: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    width: 270px;
    height: 48px;
    background-color: $sunflower-yellow;
    cursor: pointer;
  }
  .no-account {
    padding-top: 30px;
  }
  .mfp-close {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    top: 0;
    right: 0;
  }
}

#sign-up-form {
  max-width: 720px;
  height: auto;
  background-color: $white;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  color: $warm-grey;
  font-size: 14px;
  font-weight: normal;
  a {
    text-decoration: none;
    color: $dull-blue;
    border-bottom: 1px dotted $dull-blue-two;
    font-size: 14px;
  }
  > div {
    .register-user,
    .register-specialist,
    .register-breeder,
    .register-club,
    .register-shelter {
      text-align: center;
      padding-top: 25px;
      max-width: 584px;
      margin: 0 auto;
      .title {
        font-weight: bold;
        padding-top: 40px;
      }
      .login-with {
        padding-top: 25px;
      }
      .inputs {
        .inputs-name, .work-experience-and-qualification {
          display: flex;
          justify-content: space-between;
          padding: 35px 0 17px;
          .name, .surname, .work-experience, .qualification {
            width: 285px;
            border: 1px solid $camo-green;
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 55px;
            color: $warm-grey;
            font-size: 16px;
            height: 47px;

            background: url("../images/icon-register-user.png") no-repeat 89% 50%;
            &:focus,
            active {
              color: $black;
            }
          }
        }
        .inputs-name, .work-experience-and-qualification {
          .qualification {
            background: url("../images/select-icon.png") no-repeat 89% 50%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          .work-experience {
            background: url("../images/icon-star.png") no-repeat 89% 50%;
          }
          @include sm-block() {
            display: flex;
            flex-direction: column;
            .name, .surname, .work-experience, .qualification {
              width: 100%;
              background-position: 95% 50%;
            }
            .surname, .work-experience {
              margin-top: 17px;
            }
          }

        }
        .work-experience-and-qualification {
          padding-top: 0;
        }
        .password, .email {
          width: 100%;
          height: 47px;
          background: none;
          border: 1px solid $camo-green;
          border-radius: 4px;
          outline: none;
          box-sizing: border-box;
          padding-left: 15px;
          padding-right: 55px;
          color: $warm-grey;
          font-size: 16px;
          &:focus,
          active {
            color: $black;
          }
        }
        .password {
          margin-top: 17px;
          background: url("../images/password-icon.png") no-repeat 95% 50%;
        }
        .email {
          background: url("../images/email-icon.png") no-repeat 95% 50%;
        }
      }
      .go-in {
        margin-top: 30px;
        padding-top: 4px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 16px;
        color: $black;
        font-weight: bold;
        width: 270px;
        height: 48px;
        background-color: $sunflower-yellow;
        cursor: pointer;
      }
      .have-account {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sm-block() {
      flex-direction: column;
    }

    li {
      margin: 0;
      cursor: pointer;
      display: block;
      width: 144px;
      padding: 20px 0;
      border-right: 1px solid $white-two;
      border-bottom: 1px solid $white-two;
      color: $warm-grey;
      text-align: center;

      @include sm-block() {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
      }

      &.active, .active:hover {
        background-color: $white-two;
        font-weight: bold;
        color: $black;
        border-bottom: 2px solid $sunflower-yellow;
      }
      &:hover {
        background: #d6d6d7;
      }
      &:last-child {
        border-right: none;
        border-top-right-radius: 4px;
      }
      &:first-child {
        border-top-left-radius: 4px;
      }
    }
  }
  .mfp-close {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    top: 0;
    right: 0;
  }
}


