#header {
  background: url(../images/bgc-img.png) no-repeat center center;
  background-size: cover;
  height: 558px;

  @include sm-block() {
    background: url(../images/bgc-img.png) no-repeat 80% 80%;
  }
  .container-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    @include xs-block() {
      justify-content: inherit;
    }

    .mobile-menu-toggle {
      display: none;

      @include md-block() {
        display: inline-block;
        font-size: 50px;
        text-decoration: none;
        color: $white;
        position: absolute;
        top: 30px;
        right: 0;
      }

    }
    .menu {

      @include md-block {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
          padding: 0 15px;
          a {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            &:hover {
              color: $sunflower-yellow;
              transition: all .4s;
            }
          }
          .more {
            border-bottom: dotted 1px $white;
            &:hover {
              border-bottom: dotted 1px $sunflower-yellow;
              transition: all 0.4s;
            }
          }
        }
      }
      &.is-open {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        .menu-a {
          padding-top: 45px;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;
          li {
            width: 100%;
            text-align: center;
            padding: 6px 0 6px;
          }
        }
      }
    }
    .search {
      display: flex;
      align-items: center;

      @include xs(padding-left, 15px);

      #search {
        background: none;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 16px;
        color: $camo-green;
        opacity: 0.7;
        width: 120px;
      }
    }
    .account {
      display: flex;
      justify-content: space-between;
      font-size: 16px;

      @include md-block() {
        margin-right: 100px;
      }

      @include xs-block() {
        display: none;
      }
      &.is-open {
        .ul-account {
          display: flex;
          flex-direction: row;
        }
      }
      .sign-up {
        padding-right: 38px;

        @include sm(padding-right, 15px);
        @include xs(padding-right, 0);
      }
      a {
        text-decoration: none;
        color: $white;
        &:hover {
          color: $sunflower-yellow;
          transition: all .4s;
        }
      }
    }
  }

  .container-banner {
    padding-top: 150px;
    max-width: 770px;
    h1 {
      font-size: 48px;
      color: $white;

      @include sm-block() {
        font-size: 36px;
      }

      @include xs-block() {
        font-size: 28px;
      }
    }

    .buttons {
      padding-top: 49px;

      @include xs-block() {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }

      input {
        background: none;
        border-radius: 4px;
        color: $sunflower-yellow;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid $sunflower-yellow;
        padding: 19px 70px 14px;

        @include sm-block() {
          padding: 19px 45px 14px;
        }

        &:hover,
        active {
          outline: none;
          cursor: pointer;
          background-color: $sunflower-yellow;
          color: $navy-green;
          transition: all .4s;
        }
        &:nth-child(2n) {
          margin-left: 20px;

          @include xs-block() {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
    .register-specialist {
      padding-top: 24px;
      color: $beige;
      font-size: 16px;
      font-weight: normal;

      @include xs-block() {
        font-size: 12px;
        padding-top: 12px;
      }

      a {
        text-decoration: none;
        color: $beige;
        border-bottom: 1px dotted $beige;
        &:hover {
          color: $sunflower-yellow;
          transition: all .4s;
        }
      }
    }
  }

}

#sign-in-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  color: $warm-grey;
  font-size: 14px;
  margin: 0 auto;
  height: 450px;
  max-width: 540px;
  background-color: $white;
  font-weight: normal;
  a {
    text-decoration: none;
    color: $dull-blue;
    border-bottom: 1px dotted $dull-blue-two;
    font-size: 14px;
  }
  .title {
    padding-top: 55px;
    font-weight: bold;
    h2 {
      text-align: center;
    }
  }

  .login-with {
    padding-top: 20px;
    font-weight: normal;
  }
  .inputs {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    input {
      background: none;
      border: 1px solid $camo-green;
      border-radius: 4px;
      outline: none;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 55px;
      color: $warm-grey;
      font-size: 16px;
      max-width: 376px;
      height: 47px;

      &:focus,
      active {
        color: $black;
      }
    }
    .password {
      margin-top: 17px;
      background: url("../images/password-icon.png") no-repeat 96% 50%;
    }
    .email {
      background: url("../images/email-icon.png") no-repeat 96% 50%;
    }
  }
  .go-in {
    margin-top: 30px;
    padding-top: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    width: 270px;
    height: 48px;
    background-color: $sunflower-yellow;
    cursor: pointer;
  }
  .no-account {
    padding-top: 30px;
  }

}

#sign-up-form {
  max-width: 720px;
  height: 645px;
  background-color: $white;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  color: $warm-grey;
  font-size: 14px;
  font-weight: normal;

  @include sm-block() {
    height: 880px;
  }

  a {
    text-decoration: none;
    color: $dull-blue;
    border-bottom: 1px dotted $dull-blue-two;
    font-size: 14px;
  }
  > div {
    .register-user,
    .register-specialist,
    .register-breeder,
    .register-club,
    .register-shelter {
      text-align: center;
      padding-top: 25px;
      max-width: 584px;
      margin: 0 auto;
      .title {
        font-weight: bold;
        padding-top: 40px;
      }
      .login-with {
        padding-top: 25px;
      }
      .inputs {
        .inputs-name, .work-experience-and-qualification {
          display: flex;
          justify-content: space-between;
          padding: 35px 0 17px;
          .name, .surname, .work-experience, .qualification{
            width: 285px;
            border: 1px solid $camo-green;
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 55px;
            color: $warm-grey;
            font-size: 16px;
            height: 47px;

            background: url("../images/icon-register-user.png") no-repeat 89% 50%;
            &:focus,
            active {
              color: $black;
            }
          }
        }
        .inputs-name, .work-experience-and-qualification{

          .work-experience  {
            background: url("../images/icon-star.png") no-repeat 89% 50%;
          }
          @include sm-block() {
            display: flex;
            flex-direction: column;
            .name, .surname, .work-experience, .qualification {
              width: 100%;
              background-position: 95% 50%;
            }
            .surname, .work-experience {
              margin-top: 17px;
            }
          }


        }
        .work-experience-and-qualification {
          padding-top: 0;
        }
        .password, .email {
          width: 100%;
          height: 47px;
          background: none;
          border: 1px solid $camo-green;
          border-radius: 4px;
          outline: none;
          box-sizing: border-box;
          padding-left: 15px;
          padding-right: 55px;
          color: $warm-grey;
          font-size: 16px;
          &:focus,
          active {
            color: $black;
          }
        }
        .password {
          margin-top: 17px;
          background: url("../images/password-icon.png") no-repeat 95% 50%;
        }
        .email {
          background: url("../images/email-icon.png") no-repeat 95% 50%;
        }
      }
      .go-in {
        margin-top: 30px;
        padding-top: 4px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 16px;
        color: $black;
        font-weight: bold;
        width: 270px;
        height: 48px;
        background-color: $sunflower-yellow;
        cursor: pointer;
      }
      .have-account {
        padding-top: 30px;
      }
    }
    .register-specialist {
      height: 615px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sm-block() {
      flex-direction: column;
    }

    li {  margin: 0;
      cursor: pointer;
      display: block;
      padding: 20px 44px;
      border-right: 1px solid $white-two;
      border-bottom: 1px solid $white-two;
      color: $warm-grey;
      text-align: center;

      @include sm-block() {
        padding: 10px 44px;
      }

      &.active, .active:hover {
        background-color: $white-two;
        font-weight: bold;
        color: $black;
        border-bottom: 2px solid $sunflower-yellow;
      }
      &:hover {
        background: #d6d6d7;
      }
      &:last-child {
        border-right: none;
        padding-right: 43px;
        border-top-right-radius: 4px;
      }
      &:first-child {
        border-top-left-radius: 4px;
      }
    }
  }

}

.mfp-close {
  position: absolute;
  filter: grayscale(100%);
  font-size: 42px;
}

