#in-good-hands {
  padding-top: 70px;
  .wrapper {
    border-bottom: 1px solid $white-two;
    border-bottom: 69px;
    .title {
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;

      @include sm-block() {
        flex-direction: column;
        align-items: center;
      }
      span {
        font-weight: bold;
      }
    }
    .containerPets {
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include lg-block() {
        justify-content: space-around;
      }

      .containerPetsBlock {
        margin-top: 10px;
        position: relative;
        user-select: none;
        text-decoration: none;
        &__img img {
          width: 100%;
          height: auto;
        }
        &__will-give {
          position: absolute;
          top: 20px;
          left: 20px;
          color: $white;

          &:hover {
            background-color: $sunflower-yellow;
            border-radius: 7px;
            transition: all .4s;
            cursor: pointer;
          }
        }
        &__breed {
          font-size: 14px;
          color: $black-60;
          padding: 5px 8px;
          background-color: $yellow-two;
          border-radius: 4px;
          display: inline-block;
          font-weight: normal;
          margin-top: 21px;

        }
        &__selling {
          position: absolute;
          bottom: 64px;
          left: 20px;
          font-size: 16px;
          color: $white;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

          @include xs(font-size, 14px);
        }
        &__sex-birth {
          margin-top: 21px;
          font-size: 14px;
          display: inline-block;
          float: right;
          color: $grey-60;
          font-weight: normal;
        }
      }
    }
    .show-more {
      margin-top: 41px;
    }
  }
}
