#my-joy {
  padding-top: 72px;
  padding-bottom: 67px;
  .title {

    &:nth-child(2n) {
      padding-right: 148px;
    }
  }
  .content-my-joy {
    display: flex;
    justify-content: space-between;

    @include md-block {
      flex-direction: column;
    }

    .myJoyNews {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      max-width: 780px;
      &__img {

        @include sm-block() {
          display: none;
        }

      }
      &Flex {
        &__title {
          font-size: 33px;
          color: $black;
          text-decoration: none;

          @include sm(font-size, 24px);
        }
        &__description {
          padding-top: 10px;
          font-weight: normal;
          font-size: 16px;
          color: $warm-grey;
          max-width: 484px;
          .read-more {
            color: $dull-blue;
            font-size: 14px;
            cursor: pointer;
          }
        }
        &User {
          display: flex;
          align-items: center;
          padding-top: 20px;
          &Information {
            padding-left: 12px;
            &__name {
              font-size: 14.5px;
              color: $black;
            }
            &__date {
              font-size: 14px;
              color: $warm-grey;
              font-weight: normal;
              padding-top: 4px;
            }
          }
          &__like {
            padding-left: 24px;
            color: $warm-grey;
            font-size: 14px;
          }
        }
      }
    }
    .popular-stories {
      padding-left: 50px;

      @include md-block() {
        padding-left: 0;
        padding-top: 30px;
      }

      .myJoyNewsFlex {
        &__title {
          font-size: 20.5px;
        }
        &User {
          padding-top: 13px;
          padding-bottom: 30px;
        }
      }
    }
  }
}