#my-joy {
  padding-top: 72px;
  padding-bottom: 67px;
  .title {

    &:nth-child(2n) {
      padding-right: 148px;
    }
  }
  .content-my-joy {
    display: flex;
    justify-content: space-between;

    @include md-block {
      flex-direction: column;
    }

    .myJoyNews {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      &__img {

        @include sm-block() {
          display: none;
        }

      }
      &Flex {
        padding-left: 30px;
        max-width: 490px;

        @include sm(padding-left, 0);
        &__title {
          font-size: 40px;
          color: $black-font;
          text-decoration: none;
          line-height: 54px;

          @include sm(font-size, 24px);
        }
        &__subtitle {
          font-size: 16px;
          color: $black-font-two;
          text-decoration: none;
        }
        &__description {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: $black-60;
        }
        &User {
          display: flex;
          flex-direction: column;
          padding-top: 15px;

          &Information {
            display: flex;
            align-items: flex-end;
            &__name {
              font-size: 16px;
              font-weight: normal;
              a {
                color: $dull-blue;
                text-decoration: none;
              }
            }
            &__date {
              font-size: 14px;
              color: $black-40;
              font-weight: normal;
              padding-left: 25px;
            }
          }
          &__competition {
            display: flex;
            font-size: 14px;
            color: $black-40;
            padding-top: 36px;
            img {
              padding-right: 9px;
            }
            &--like {
              display: flex;
              align-items: center;
            }
            &--repost {
              display: flex;
              align-items: center;
              padding-left: 22px;
            }
          }
        }
      }
    }
    .popular-stories {

      @include md-block() {
        padding-left: 0;
        padding-top: 30px;
      }
      .myJoyNewsFlex {
        padding-left: 0;
        width: 366px;

        @include lg-block() {
          width: 100%;
        }
        @include md-block() {
          max-width: 100%;
        }
        &User {
          padding-bottom: 25px;
          border-bottom: 1px solid $white-bg;
          &__competition {
            padding-top: 20px;
          }
        }
      }
    }
  }
}

#my-joy-page {
  .container-my-joy {
    .blocks-my-joy {
      display: flex;
      flex-direction: column;
      max-width: 721px;

      @include lg-block() {
        max-width: 100%;
      }
      .one-block-my-joy {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid $white-bg;
        width: 100%;

        @include arrow-block() {
          flex-direction: column;
          align-items: center;
        }
        > img {
          width: 100%;
          height: auto;
          max-width: 270px;
          max-height: 176px;
        }
        .block-with-description-one-block-my-joy {
          padding-left: 30px;

          @include arrow-block() {
            padding-left: 0;
            margin-top: 15px;
          }
          .title {
            font-size: 24px;
            line-height: 32px;
            a {
              text-decoration: none;
              color: $black-font;

            }
          }
          p {
            padding-top: 22px;
            font-size: 14px;
            color: $black-60;
            font-weight: normal;
          }
          .block {
            display: flex;
            font-weight: normal;
            padding-top: 15px;
            .name-my-joy {
              a {
                text-decoration: none;
                color: $dull-blue;
                font-size: 16px;
              }
            }
            .date-my-joy {
              padding-left: 25px;
              font-size: 14px;
              color: $black-40;
            }
          }
          .activity-competition {
            padding-top: 36px;
            display: flex;
            justify-content: flex-start;
            .repost {
              padding-left: 22px;
            }
          }
        }
      }
    }
    aside {
      @include lg-block() {
        display: none;
      }
    }
    .container-popular-stories {
      display: flex;
      flex-direction: column;
      padding-top: 32px;
      .title-container {
        font-size: 24px;
        line-height: 32px;
        color: $black-font;
      }
      .one-block-stories {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        .title-stories {
          a {
            font-size: 16px;
            color: $black-font-two;
            text-decoration: none;
          }
        }
        .block {
          display: flex;
          font-weight: normal;
          padding-top: 12px;
          .name-my-joy {
            a {
              text-decoration: none;
              color: $dull-blue;
              font-size: 16px;
            }
          }
          .date-my-joy {
            padding-left: 25px;
            font-size: 14px;
            color: $black-40;
          }
        }
        .activity-competition {
          padding-top: 20px;
          display: flex;
          justify-content: flex-start;
          .repost {
            padding-left: 22px;
          }
        }
      }
      .img-ads {
        margin-top: 45px;
      }
    }
  }
}