.news {
  padding-top: 70px;
  .content-my-joy {
    display: flex;
    justify-content: space-between;

    @include lg-block {
      flex-direction: column;
    }
    
    .title {
      @include lg-block() {
        text-align: center;
      }
    }
    .myJoyNews {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      max-width: 780px;

      @include lg-block() {
        justify-content: center;
        max-width: 100%;
      }

      @include sm-block() {
        justify-content: flex-start;
      }

      &__img {

        @include xs-block() {
          display: none;
        }

      }
      &Flex {
        &__title {
          font-size: 24.5px;
          color: $black;
          max-width: 430px;

          @include sm(font-size, 24px);
        }
        &__description {
          padding-top: 10px;
          font-weight: normal;
          font-size: 16px;
          color: $warm-grey;
          max-width: 484px;
          .read-more {
            color: $dull-blue;
            font-size: 14px;
            cursor: pointer;
          }
        }
        &User {
          display: flex;
          align-items: center;
          padding-top: 20px;
          &Information {

            &__date {
              font-size: 14px;
              color: $warm-grey;

            }
          }
          &__like {
            padding-left: 24px;
            color: $warm-grey;
            font-size: 14px;
          }
        }
      }
    }
    .banner-news {
      padding-top: 44px;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}