#news {
  padding-top: 70px;
  .content-news {
    display: flex;
    justify-content: space-between;

    @include lg-block {
      flex-direction: column;
    }

    .title {
      @include lg-block() {
        text-align: center;
      }
    }
    .myJoyNews {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      max-width: 780px;

      @include lg-block() {
        max-width: 100%;
      }

      @include sm-block() {
        justify-content: flex-start;
      }

      &__img {

        @include xs-block() {
          display: none;
        }

      }
      &Flex {
        padding-left: 30px;

        @include xs(padding-left, 0);
        &__title {
          font-size: 16px;
          color: $black-font;
          line-height: 21px;
          max-width: 430px;
          text-decoration: none;

          @include sm(font-size, 24px);
        }
        &__description {
          padding-top: 18px;
          font-weight: normal;
          line-height: 20px;
          font-size: 14px;
          color: $black-60;
          max-width: 418px;
          .read-more {
            color: $dull-blue;
            font-size: 14px;
            cursor: pointer;
          }
        }
        &User {
          display: flex;
          align-items: center;
          padding-top: 20px;
          font-size: 14px;
          color: $black-40;
          font-weight: normal;
          > div {
            display: flex;
            align-items: center;
            img {
              padding-right: 9px;
            }
          }
          &__repost {
            margin-left: 22px;
          }
          &__date {
            margin-left: 24px;
          }
        }
      }
    }
    .banner-news {
      padding-top: 44px;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}