#pets-on-binding {
  padding-top: 72px;
  .wrapper {
    border-bottom: 1px solid $white-two;
    padding-bottom: 75px;

  }
  .title {
    display: flex;
    justify-content: space-between;

  @include sm-block() {
    flex-direction: column;
    align-items: center;
  }
  }
  .content-pets-on-binding {
    display: flex;
    justify-content: space-between;

    @include md-block() {
      flex-direction: column;
      justify-content: center;
    }

    .containerPets {
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      width: 770px;

      @include md-block() {
        flex-wrap: wrap;
        width: 100%;
      }
    @include sm-block() {
      justify-content: center;
    }

      .containerPetsBlock {
        margin-top: 30px;
        text-decoration: none;
        position: relative;
        user-select: none;
        max-width: 370px;

        &__img {
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
        }

        &__price {
          position: absolute;
          top: 20px;
          left: 20px;
          color: $white;

          &:hover {
            background-color: $sunflower-yellow;
            border-radius: 7px;
            transition: all .4s;
            cursor: pointer;
          }
        }
        &__breed {
          margin-top: 16px;
          font-size: 14px;
          padding: 5px 8px;
          background-color: $yellow-two;
          font-weight: normal;
          color: $black-60;
          border-radius: 4px;
          display: inline-block;
          &-cat {
            color: $light-plum;
          }
        }
        &__selling {
          position: absolute;
          font-size: 16px;
          color: $white;
          left: 20px;
          bottom: 60px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }
        &__sex-birth {
          display: inline-block;
          margin-top: 16px;
          float: right;
          font-size: 14px;
          color: $grey-60;
          font-weight: normal;
        }
      }
    }
    .banner-pets-on-binding {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .show-more {
    @include md(text-align, center);

  }
}