#pets {
  padding-top: 72px;
  .container {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include sm-block() {
        flex-direction: column;
      }

      .place-an-ad {
        width: 270px;
        background-color: $yellow-three;
        font-size: 14px;
        color: $black-80;
        font-weight: normal;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        img {
          padding-right: 15px;
        }
        @include sm-block() {
          margin-top: 15px;
        }

      }
    }
    .containerPets {
      padding-top: 5px;

      @include row-flex();
      @include fix-block() {
        justify-content: center;
      }
      @include lg-block() {
        justify-content: center;
      }

      .containerPetsBlock {
        padding-top: 30px;
        text-decoration: none;
        position: relative;
        user-select: none;
        max-width: 370px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include col();
        @include size(4);
        @include size-md(6);
        @include size-xs(12);
        &__img {
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          &--price {
            position: absolute;
            top: 20px;
            left: 20px;
            color: $white;
          }
          &--selling {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 16px;
            color: $white;
          }
        }
        &__breed {
          margin-top: 20px;
          font-size: 14px;
          padding: 5px 8px;
          background-color: $yellow-three;
          font-weight: normal;
          color: $black-80;
          border-radius: 4px;
          &-cat {
            color: $light-plum;
          }
        }
        &__sex-birth {
          margin-top: 20px;
          text-align: right;
          font-size: 14px;
          color: $black-60;
          font-weight: normal;
        }
      }
    }
    .buttons {
      padding-top: 14px;
      display: flex;
      justify-content: space-between;
      position: relative;

      @include lg-block() {
        flex-direction: column;
      }

      button {
        width: 580px;
        height: 44px;
        margin-top: 20px;
        cursor: pointer;
        background-color: $sunflower-yellow;
        color: $black;
        text-align: center;
        font-size: 16px;
        border-radius: 3px;
        font-weight: bold;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;

        @include lg-block() {
          width: 100%;
        }

        img {
          padding-right: 5px;
        }
      }
    }
  }
}