#services {
  .all-services {
    padding-top: 30px;
    .title-count {
      font-size: 14px;
      line-height: 20px;
      color: $black-60;
      .count-services {
        color: $black-80;
      }
    }
    .blocks-services {
      padding-top: 23px;

      @include row-flex();
      @include fix-block() {
        justify-content: center;
      }
      .one-block-services {
        @include col();
        @include size(4);

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding-top: 19px;
        width: 370px !important;

        @include xs-block() {
          width: 100% !important;
        }
        .img-block {
          position: relative;
          color: #000;

          @include xs(width, 100%);
          img {
            @include xs-block() {
              width: 100%;
              height: auto;
            }
          }
          .price {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 14px;
            color: $white;
            > img {
              width: 9px;
              height: 10px;
            }
          }
          .description-services {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 16px;
            color: $white;
          }
        }
        .person-services {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 20px;
          .block-flex {
            display: flex;
            img {
              border-radius: 50%;

            }
            .block-description-person {
              display: flex;
              flex-direction: column;
              padding-left: 10px;
              width: 100%;
              .block-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: normal;
                .name {
                  color: $black-font;
                  font-size: 14px;
                }
                .qualification {
                  font-size: 14px;
                  color: $black-60;
                  text-align: center;
                  padding: 5px 14px;
                  background-color: $yellow-two;
                  border-radius: 4px;
                  margin-left: 11px;
                  margin-right: auto;
                }
                .city {
                  color: $black-60;
                  font-size: 14px;
                }
              }
              .rating-star {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: $black-font;
                .all {
                  padding-left: 7px;
                  .all-count {
                    color: $sunflower-yellow;
                  }
                }
              }
            }
          }
          .description-qualification {
            line-height: 20px;
            font-size: 14px;
            color: $black-60;
            padding-top: 14px;
            font-weight: normal;
          }
        }
        .block-adv {
          width: 100%;
          height: 100%;
        }
        .pages {
          width: 55%;
        }
      }
    }
  }
}
