$white: #ffffff;
$white-two: #eeeeee;
$off-white: #fffce9;
$camo-green: rgba(209, 193, 174, 0.7);
$sunflower-yellow: #ffd800;
$navy-green: #3b3308;
$beige: #f5e4d4;
$black: #343434;
$black-two-50: rgba(52, 52, 52, 0.5);
$dull-blue: #506aa1;
$dull-blue-two: rgba(0, 0, 0, 0.13);
$mocha: #a0664f;
$warm-grey: #807b76;
$pale-grey: #f4f5f7;
$light-plum: #a04f76;
$pinkish-grey: #d0d0d0;


