$white: #ffffff;
$white-two: #eeeeee;
$white-three: #f3f3f3;
$white-four: #f6f6f6;
$white-bg: #e9e9e9;
$off-white: #fffce9;
$camo-green: rgba(209, 193, 174, 0.7);
$sunflower-yellow: #ffd800;
$yellow-two: #FFFBE6;
$yellow-three: #FFEF99;
$navy-green: #3b3308;
$beige: #f5e4d4;
$black: #343434;
$black-two-50: rgba(52, 52, 52, 0.5);
$black-60: rgba(52, 52, 52, 0.6);
$black-80: rgba(52, 52, 52, 0.8);
$black-40: rgba(0, 0, 0, 0.4);
$black-font: #4c4c4c;
$dull-blue: #506aa1;
$blue-link: #4D9EEA;
$dull-blue-two: rgba(0, 0, 0, 0.13);
$mocha: #a0664f;
$red: #D86C65;
$warm-grey: #807b76;
$pale-grey: #f4f5f7;
$light-plum: #a04f76;
$pinkish-grey: #d0d0d0;


